.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.si.com/.image/t_share/MTY4MDI4Njc2OTM4NDA5MzQ0/hayward-field-redesign-photosjpg.jpg');
    background-position: center;
    background-repeat: none;
    object-fit: cover;
    filter: blur(30px);
    position: absolute;
    z-index: -1;

}
.loading-text {
    font-size: 50px;
    color: #8D93FF;
}
