

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.home {
    position: relative;
    height: 90vh;
}

.times {
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
}


