@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@100&family=Rubik+Iso&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(161, 100, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
}


.btn {
    background-color: rebeccapurple;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}


.btn:hover {
    opacity: 0.9;
}
